<h1>Listing dicts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for dict in @dicts %>
  <tr>
    <td><%=h dict.name %></td>
    <td><%=h dict.description %></td>
    <td><%= link_to 'Show', dict %></td>
    <td><%= link_to 'Edit', edit_dict_path(dict) %></td>
    <td><%= link_to 'Destroy', dict, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dict', new_dict_path %>
