<h1>Words controller, edit action</h1>
<%= form_for(@word, :action => resource(@word)) do %>
 
  <p>
    <%= text_field :keyword, :label => "Keyword" %>
  </p>
 
  <p>
    <%= text_field :definition, :label => "Definition"  %>
  </p>

  <p>
    <%= submit "Update" %>
  </p>
<% end =%>
 
<%= link_to 'Show', resource(@word) %> | <%= link_to 'Back', resource(:words) %>
