
<% form_tag words_path, :method => :get do %>
  <p>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="words">
<% if @words %>
<% for word in @words %>
  <h2>
    <%= link_to h(word.keyword), word %> - <%= word.dict.description %>
  </h2>
  <p><%= format_definition word.definition %></p>
<% end %>
<% end %>
</div>
<% if admin? %>
<%= link_to 'New word', new_word_path %>
<%- end %>
