<h1>Words controller, new action</h1>
<%= form_for(@word, :action => resource(:words) ) do %>
 
  <p>
    <%= text_field :name, :label => "Word" %>
  </p>
 
  <p>
    <%= text_field :definition, :label => "Definition"  %>
  </p>
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>
 
<%= link_to 'Back', resource(:words) %>
